* {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #FFFF;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'perpetua';
    src: url('../assets/fonts/perpetua.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trajan-pro';
    src: url('../assets/fonts/trajan-pro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trajan-normal';
    src: url('../assets/fonts/trajan-normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

a {
    text-decoration: none;
    color: #ffff;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
    font-family: 'trajan-normal';
    font-size: 3em;
    font-weight: normal;
}

p {
    font-family: 'perpetua';
}

.header {
    display: flex;
    margin-top: 10px;
    border-bottom: solid 1px;
    justify-content: center;
}

nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.gif img {
    width: 100px;
    margin-left: 30px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.aba-selecionada {
    display: flex;
    align-items: center;
}

.aba-selecionada img{
    width: 20px;
    margin: 0 10px 0 10px;
}

.header li {
    margin: 0;
}

.header a,
.personagens a {
    text-decoration: none;
    color: #FFFF;
}

.header a:hover, .botao-login:hover,
.personagens a:hover {
  text-shadow: 
    -2px -2px 6px #FFFF,
    2px 2px 6px #FFFF;
    transition: 0.2s;
}

.header .botao-login {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 30px;
}

.header .botao-sair {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 30px;
}

/* Index */

.logo {
    width: 300px;
    margin-bottom: 10px;
}

.fundo {
    width: 100%;
}

.img-inicio {
  position: relative; 
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #FFFF;
}

.img-inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/knight-and-quirrel.jpg');
  background-size: cover;
  background-position: center;
}

.img-inicio .logo {
    width: 900px;
    margin-bottom: 160px;
    position: relative;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo #titulo {
    margin: 1.5em 0 2em 0;
}

.conteudo .container {
    display: flex;
    justify-content: space-around;
    margin: 0 150px 100px 150px;
    max-width: 1600px;
}

.img-box {
    max-width: 650px;
    max-height: 350px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box h1 {
    font-size: 2.5em;
    margin: 0 0 20px 0;
}

.box p {
    font-size: 1.1em;
}

/* Fim index */

/* Footer */

footer {
    background-color: #3A3A3A;
}

footer a {
   display: flex; 
   justify-self: center;
   margin-top: 2em;
   font-size: 1.2em;
   transition: 0.3s;
}

footer a:hover {
   color: #c6c6c6;
   transition: 0.3s;
}

.facecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.facecard img {
    width: 200px;
}

.facecard h1 {
    font-size: 2em;
}

.facecard p {
    font-size: 1.2em;
    width: 450px;
    text-align: center;
    margin-bottom: 40px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.redes-sociais img {
    width: 60px;
}

#copyright {
    display: flex;
    margin: 0;
    padding: 60px 0 20px 0;
    justify-content: center;
    align-items: center;
}

/* Fim footer */

/* Historia */

.historia-inicio { 
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #FFFF;
}

.historia-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin-left: 20em;
}

.historia-intro p {
    font-size: 1.4em;
}

.historia-intro img {
    display: flex;
    align-self: center;
    width: 100%;
    height: 200px;
}

.historia-img {
    display: flex;
    align-self: flex-end;
    height: 640px;
}

.historia {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.historia .container {
    width: 50%;
}

.historia .container img {
    width: 900px;
}

.historia .container .dialogo {
    width: 350px;
}

.historia .container p {
    font-size: 1.6em;
    padding: 50px 0 50px 0;
}

/* Fim historia */

/* Personagens */

.personagens .img-inicio-personagens {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #FFFF;
}

.personagens .img-inicio-personagens img {
    width: 100%;
    height: 640px;
    object-fit: cover;
    opacity: 50%;
}

.personagens .conteudo {
    margin-top: 50px;
}

.personagens .img-inicio-personagens h1 {
  position: absolute;
  font-size: 8em;
  font-family: 'perpetua';
}

.personagens .container {
    display: flex;
    flex-wrap: wrap;
    background-color: #AFAFAF30;
    width: 80%;
    gap: 150px;
    margin-top: 50px;
    padding: 2em;
    border-radius: 12px;
}

.personagens .box {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.personagens .img-box {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.personagens .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.personagens .box h3 {
    font-family: 'trajan-pro';
    font-weight: normal;
    font-size: 0.9rem;
}

.galeria {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.galeria .botao-esquerda {
    cursor: pointer;
}

.galeria .botao-direita {
    cursor: pointer;
}

/* Fim personagens */

/* Cadastro */

.cadastro {
    display: flex;
    width: 100%;
    height: 940px;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/knight-arriving.png');
    background-size: cover;
}

.cadastro .container {
    display: flex;
    align-items: center;
    background-color: #262626;
    border-radius: 6px;
    color: #000000;
    width: 35%;
    height: 80%;
    box-shadow: 0 0 14px #000000;
}

.cadastro .img-cadastro {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #403f3f;
    border-radius: 0 6px 6px 0;
}

.cadastro .img-cadastro h1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'trajan-pro';
}

.cadastro .img-cadastro p {
    color: #ffff;
    font-size: 1.1em;
    font-family: 'perpetua';
}

.cadastro .img-cadastro .itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro .img-cadastro img {
    height: 300px;
}

.cadastro .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

.cadastro .formulario h1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'trajan-pro';
}

.cadastro .formulario p {
    color: #ffff;
    font-size: 1em;
    font-family: 'trajan-normal';
}

.cadastro input {
    width: 260px;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 0 12px #000000;
}

.cadastro select {
    width: 220px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    border: none;
}

.cadastro button {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #4f4f4f;
    color: #FFFF;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s;
}

.cadastro button:hover {
    background-color: #8b8b8b;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.05);
}

/* Fim do cadastro */

/* Login */

.login {
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/void.png');
    background-size: cover;
}

.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #262626;;
    border-radius: 6px;
    box-shadow: 0 0 14px #000000;
    width: 60%;
    height: 80%;
}

.login .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90%;
    justify-content: space-around;
}

.login .formulario h1 {
    color: #ffff;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'trajan-pro';
}

.login .img-cadastro {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #403f3f;
    border-radius: 6px 0 0 6px;
}

.login .img-cadastro h1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'trajan-pro';
}

.login .img-cadastro p {
    color: #ffff;
    font-size: 1.1em;
    font-family: 'perpetua';
}

.login .img-cadastro .itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .img-cadastro img {
    height: 300px;
}

.login .formulario p {
    color: #ffff;
    font-size: 1.1em;
}

.login input {
    width: 260px;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 0 12px #000000;
}

.login button {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #6c6c6c;
    color: #FFFF;
    text-align: center;
    margin-top: 20px;
    transition: 0.4s;
}

.login button:hover {
    background-color: #444444;
    transition: 0.4s;
    cursor: pointer;
    transform: scale(1.05);
}

.login a {
    text-decoration: underline;
    font-weight: bold;
}

.login a:hover {
    text-decoration: none;
    color: #9e9e9e;
}

/* Fim do login */

/* Hollowdle */

.dle {
    display: flex;
    min-height: 1200px;
    height: 100%;
    object-fit: cover;
    background-image: url('../assets/img/characters-background.jpg');
    justify-content: center;
    align-items: center;
}

.dle .avisoLogin {
    display: flex;
    width: 40%;
    height: 300px;
    background-color: #262626;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.dle .avisoLogin .box {
    width: 100%;
}

.dle .avisoLogin h2 {
    font-size: 2em;
}
.dle .avisoLogin p {
    font-size: 1.1em;
}

.dle .avisoLogin a {
    text-decoration: none;
    text-decoration: underline;
}

.dle .avisoLogin a:hover {
    color: #969696;
}

.dle .dle-logo {
    align-self: flex-start;
}

.dle .resultado-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 400px;
    display: flex;
    width: 100%;
    height: 200%;
    background-color: #3b3b3b90;
}

.dle .resultado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: #071c2b;
}

.dle .msg-popup {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.dle .resultado p {
   font-size: 1.6em;
   margin: 0;
}

.dle .img-resultado img {
    width: 150px;
}

.dle .resultado button {
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #363636;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #ffff;
}

.dle .resultado button:hover {
    transition: 0.4s;
    background-color: #494949;
}

.dle .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dle-logo {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.dle .botao-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 300px;
    background-color: #000000b7;
}

.dle .botao-quiz button {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
    border-radius: 3px;
    font-size: 1.6em;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #FFFF;
    background-color: #2e404e;
}

.dle .botoes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#cont_chances {
    font-size: 1.6em;
}

.dle .botoes a {
    text-decoration: none;
}

.dle .botao-quiz button:hover {
    display: flex;
    background-color: #3f5f78;
    transition: 0.4s;
}

.dle .quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000b7;
    width: 60%;
    height: 100%;
    border-radius: 6px;
    margin-top: 400px;
}

.dle .quiz h2 {
    font-size: 2em;
    font-family: 'trajan-pro';
}

.dle .quiz input {
    width: 260px;
    height: 40px;
    border-radius: 4px;
    border: none;
    text-align: center;
}

.dle .quiz button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #ffff;
    background-color: #2e404e;
}

.dle .quiz button:hover {
    transition: 0.3s;
    background-color: #3f5f78;
}

.dle .titulos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 10px
}

.dle .card-titulo {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.dle .respostas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.dle .respostas .card {
    display: flex;
    width: 120px;
    text-shadow: 0 0 4px #bdbdbd;
    height: 90px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px #000000;
}

.dle .card-img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.dle .card-img img {
    width: 120px;
}

.dle .validar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dle .sugestao {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    border-radius: 2px;
    font-size: 1em;
}

.dle .sugestao:hover {
    display: flex;
    background-color: #9191928d;
    transition: 0.3s;
}

.dle .sugestao img {
    align-self: center;
    margin-right: 20px;
}

.dle .historico {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.oculto {
    display: none;
}

/* Fim hollowdle */

/* Estatísticas */

.estatisticas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262626;
    width: 100%;
    height: 900px;
}

.estatisticas .barra-lateral {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100%;
    width: 16%;
    justify-content: flex-start;
    align-items: center;
    border-right: solid 1px #ffff;
}

.estatisticas .cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.estatisticas .cima p {
    font-size: 2em;
    margin-top: 60px;
}

.estatisticas .baixo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    margin: 200px 0 100px 0;
}

.estatisticas .barra-lateral button {
    width: 200px;
    height: 80px;
    margin: 20px;
    border-radius: 2px;
    color: #ffff;
    border: none;
    background-color: #2e404e;
}

.estatisticas .barra-lateral button:hover {
    background-color: #3f5f78;
    transition: 0.4s;
}

.nome-usuario {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.estatisticas .favorito img {
    width: 150px;
    height: 150px;
}

.estatisticas .fotoPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estatisticas .barra-lateral {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100%;
    width: 16%;
    justify-content: space-around;
    align-items: center;
    border-right: solid 1px #ffff;
}

.nome-usuario {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.estatisticas .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
}

.estatisticas .container .linha {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.estatisticas .boxes {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.estatisticas .linha .box {
    display: flex;
    width: 300px;
    height: 180px;
    border-radius: 6px;
    font-size: 1.2em;
    background-color: #48484856;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.354);
}

.estatisticas .kpi {
    font-size: 3em;
}

.estatisticas .grafico {
    width: 700px;
    height: 400px;
}

.estatisticas .rank {
    width: 350px;
    background: #252525;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 15px #000000;
    font-family: "Poppins", sans-serif;
}

.estatisticas .rank p {
    text-align: center;
    font-size: 1.8em;
}

.estatisticas .rank-colunas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.estatisticas .rank-linha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.estatisticas .rank-linha div {
    background: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    transition: 0.2s;
}

.estatisticas .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    margin-top: 50px;
    border-radius: 2px;
    color: #fff;
    background-color: #2e404e;
    text-decoration: none;
}

.estatisticas .botao:hover {
    background-color: #3f5f78;
    transition: 0.4s;
}

.estatisticas .rank-linha div:hover {
    background: #343434;
    transform: translateY(-2px);
}

.estatisticas .tentativasGerais {
    width: 800px;
}
/* Fim estatísticas */